extends layout
block content
	Hello World! This is the main page for the express-neo-rest-api. You can edit this file at views/index.jade. To find out more about the project, go to:

	a(href="https://github.com/reidwmulkey")
